* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
  --width: 60vw;
  --margin: 0px auto;
  font-family: sans-serif;
}
body > header,
main,
body > footer {
  width: var(--width);
  margin: var(--margin);
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #aaa;
}

body > header {
  padding: 1em;
  box-sizing: border-box;
}

hgroup {
  text-align: center;
}

hgroup > h1 {
  font-size: 4em;
  font-family: serif;
  font-weight: 900;
}

hgroup > p {
  margin: 3px 0px;
  font-size: 1.3em;
}


nav {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
}

nav > li {
  cursor: pointer;
  list-style: none;
}

nav > li:hover {
  text-shadow: 0.7px 0.7px 1.5px #ccc;
}
