* {
  margin: 0px;
  padding: 0px;
  font: serif;
}
body {
  background-color: white;
  --width: 70vw;
  --margin: 0px auto;
  padding: 0em 3em;
  height: 100vh;
  overflow: scroll;
}
body > header,
main,
body > footer {
  width: var(--width);
  margin: var(--margin);
  box-sizing: border-box;
  background-color: #fff;
}

body > header,
body > footer {
  padding: 0em 1.3em;
  box-sizing: border-box;
  margin-top: 8px;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
}

body > footer {
  background-color: #999;
  color: white;
}

hgroup {
  text-align: center;
}

hgroup > h1 {
  font-size: 4em;
  font-family: serif;
  font-weight: 900;
}

hgroup > p {
  margin: 3px 0px;
  font-size: 1.8em;
}

header nav {
  text-align: center;
  background-color: #999;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 170px;
  margin: 0.8em 0px 0.4em;
}

nav > li {
  cursor: pointer;
  list-style: none;
  font-size: 1.2em;
  color: white;
}

nav > li:hover {
  text-shadow: 0.7px 0.7px 1.5px #111;
}

main {
  padding: 0em 1.3em;
  display: flex;
  height: fit-content;
}

main article {
  width: 90%;
  height: 100%;
  overflow: scroll;
  padding: 0.6em;
}

main header {
  text-align: justify;
}

h2 {
  font-size: 2.4em;
}

article section {
  padding: 0.6em 0.6em 0em;
  margin-top: 10px;
  margin-bottom: 10px;
}

article p,
summary {
  line-height: 1.4em;
  font-size: 1.2em;
}

h3 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 6px;
}

figure {
  height: 400px;
  width: 500px;
  overflow: hidden;
}

img {
  height: 350px;
  width: 100%;
  object-fit: contain;
}

figcaption {
  font-style: italic;
}

mark {
  background-color: #d4d4d4;
  padding: 0px 4px;
}

details p {
  display: block;
  padding: 10px;
  background: #f4f4f4;
}

article footer {
  margin-top: 20px;
  background-color: #f4f4f4;
  padding: 6px;
}

h5 {
  font-size: 1.2em;
  font-weight: 400;
}

address p {
  padding: 4px;
}

body > footer {
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  display: flex;
  justify-content: space-between;
}

aside {
  border-left: 1px solid #222;
  overflow: scroll;
  padding: 0.5em;
}

aside section {
  background-color: #f4f4f4;
  margin-top: 10px;
  padding: 0.3em;
}

a {
  color: #222;
  text-decoration: none;
  cursor: pointer;
}

h4 {
  font-size: larger;
}

dialog {
  position: absolute;
  top: 48vh;
  left: 40vw;
  background-color: #d4d4d4;
  border: 4px double #a4a4a4;
  border-radius: 4px;
  height: 200px;
  width: 400px;
  padding: 20px;
}

dialog p {
  font-size: 2em;
  text-align: center;
  vertical-align: center;
}

dialog form  {
  width:fit-content;
  margin: 30px auto;
}

dialog button {
  border: none;
  font-size: 1.2em;
  background-color: #fff;
  padding: 0.4em;
  border-radius: 4px;
  cursor: pointer;
}
