* {
  margin: 0px;
  padding: 0px;
}
body {
  background-color: white;
  --width: 60vw;
  --margin: 0px auto;
  font-family: sans-serif;
  padding: 0em 3em;
}
body > header,
main,
body > footer {
  width: var(--width);
  margin: var(--margin);
  box-sizing: border-box;
  background-color: #fff;
}

body > header {
  padding: 0em 3em;
  box-sizing: border-box;
  margin-top: 8px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

hgroup {
  text-align: center;
}

hgroup > h1 {
  font-size: 4em;
  font-family: serif;
  font-weight: 900;
}

hgroup > p {
  margin: 3px 0px;
  font-size: 1.3em;
}

header nav {
  text-align: center;
  background-color: #aaa;
  height: 1.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-bottom: 3px;
}

nav > li {
  cursor: pointer;
  list-style: none;
  font-size: 1.2em;
  color: whitesmoke;
}

nav > li:hover {
  text-shadow: 0.7px 0.7px 1.5px #ccc;
}
